alembic==0.8.4
beautifulsoup4==4.4.1
blinker==1.4
boto==2.36.0
cvxopt==1.1.7
Cython==0.23.4
dominate==2.1.16
Flask==0.10.1
Flask-Mail==0.9.1
Flask-Migrate==1.6.0
Flask-Script==2.0.5
Flask-SQLAlchemy==2.1
Flask-WTF==0.12
gevent==1.1rc2
greenlet==0.4.9
grequests==0.2.0
gunicorn==19.4.1
itsdangerous==0.24
Jinja2==2.8
lxml==3.5.0
Mako==1.0.3
MarkupSafe==0.23
mrjob==0.4.2
psycopg2==2.6.1
python-editor==0.5
PyYAML==3.11
requests==2.9.1
simplejson==3.6.5
SQLAlchemy==1.0.11
stevedore==0.15
virtualenv==1.11.6
virtualenv-clone==0.2.5
virtualenvwrapper==4.3.1
visitor==0.1.2
Werkzeug==0.11.3
wheel==0.26.0
WTForms==2.1
