.options {
    float: left;
    margin: 0.30em;
}

#start_date, #end_date {
	width: 6em;
    height: 30px;
}

.dropdown {
    -webkit-appearance: menulist-button;
    height: 30px;
}

#rightside {
    background-color: AliceBlue;

}


body { margin: 0.5em; }

.pickList_sourceListContainer, .pickList_controlsContainer, .pickList_targetListContainer { float: left; margin: 0.10em; }
.pickList_controlsContainer { text-align: center; margin-top:30px;}
.pickList_controlsContainer button { display: block; width: 100%; text-align: center; }
.pickList_list { list-style-type: none; margin: 0; padding: 0; float: left; width: 135px; height: 150px; border: 1px inset #eee; overflow-y: auto; overflow-x: scroll cursor: default; }
.pickList_selectedListItem { background-color: #a3c8f5; }
.pickList_listLabel { font-size: 0.9em; font-weight: bold; text-align: center; }
.pickList_clear { clear: both; }