body { 
  background: url(main.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -webkit-font-smoothing: antialiased;
  height: 100%;
}

h1 { color: #fff; }

.menu { color: #fff; }

.options {
    background-color: #fff;
    float: left;
}

.flashes { color: #ff0000; }     

#start_date, #end_date {
	width: 6em;
    height: 30px;
}

#start_date_option {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

#people_option {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

#start_time, #end_time { width: 6em; }

#people { width: 5em; }

.dropdown {
    -webkit-appearance: menulist-button;
    height: 30px;
    width: 4.5em;
}
.r_dropdown {
    -webkit-appearance: menulist-button;
    height: 30px;
    width: 10em;
}

#result, #loading, #result {
    display: inline-block;
    width: 40rem;
    background-color: #fff;
    border-radius: 5px;
}

#submit-btn {
    cursor: pointer;
    height: 3rem;
    border-style: solid;
    border-width: 0;
    border-radius: 3px;
    font-family: franklin-gothic-urw, Arial, Helvetica Neue, Helvetica, sans-serif;
    line-height: normal;
    background-color: #da3743;
    color: #fff;
    font-size: 1.3rem;
}

input { border-radius: 5px; }

.pickList_listContainer {
    border-radius: 5px;
    background-color: #fff;
}

.pickList_list {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.pickList_sourceListContainer, .pickList_controlsContainer, .pickList_targetListContainer { float: left; margin: 0.10em; }
.pickList_controlsContainer { text-align: center; margin-top:30px;}
.pickList_controlsContainer button { display: block; width: 100%; text-align: center; }
.pickList_list { list-style-type: none; margin: 0; padding: 0; float: left; width: 183px; height: 150px; border: 1px inset #eee; overflow-y: auto; overflow-x: scroll cursor: default; }
.pickList_selectedListItem { background-color: #a3c8f5; }
.pickList_listLabel { font-size: 0.9em; font-weight: bold; text-align: center; }
.pickList_clear { clear: both; }

@media only screen and (max-width : 480px) {
    .pickList_list { width: 140px;}
    #result, #loading { width: 32rem;}
    .options { font-size: 11px;}
}

@media only screen and (max-width: 350px) {
    .pickList_list { width: 115px;}
    #result, #loading { width: 30rem;}
    .options { font-size: 9.5px;}
}
