{% extends "base.html" %}
{% block content %}
<a class="menu" href="/help">Help</a><br>
<a class="menu" href="/opentable">Main</a><br><br>
<form method=post id = "form-container" class="form-container">
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
        <span class="menu"><b>Restaurant: </b></span>
        <select class="r_dropdown" name="rname">
          <OPTION selected disabled>Pick a restaurant
          <OPTION>Betony
          <OPTION>Carbone
          <OPTION>Daniel
          <OPTION>Dirty French
          <OPTION>Eleven Madison Park
          <OPTION>Gramercy Tavern            
          <OPTION>Le Bernardin
          <OPTION>Marea
          <OPTION>Per Se
          <OPTION>Sushi Nakazawa-Sushi Bar
          <OPTION>Upland
        </select>
      </div>
    </div>
    <br>
    <div class="row options_row">
      <div class="col-md-12 options_row">
        <div class="options" id="start_date_option" class="col-md-3">
          <b>Start Date</b><br>
          <input type="text" id="start_date" name="start_date" readonly>
        </div>
        <div class="options" class="col-md-3">
          <b>End Date</b><br>
          <input type="text" id="end_date" name="end_date" readonly>
        </div>
        <div class="options" class="col-md-2">
          <b>Start Time</b><br>
          <select class="dropdown" id="start_time" name="start_time">
            <OPTION> 12PM
            <OPTION> 1PM
            <OPTION> 2PM
            <OPTION> 3PM
            <OPTION> 4PM
            <OPTION> 5PM
            <OPTION> 6PM
            <OPTION SELECTED> 7PM
            <OPTION> 8PM
            <OPTION> 9PM
            <OPTION> 10PM
            <OPTION> 11PM
          </select>
        </div>
        <div class="options" class="col-md-2">
          <b>End Time</b><br>
          <select class="dropdown" id="end_time" name="end_time">
            <OPTION> 12PM
            <OPTION> 1PM
            <OPTION> 2PM
            <OPTION> 3PM
            <OPTION> 4PM
            <OPTION> 5PM
            <OPTION> 6PM
            <OPTION> 7PM
            <OPTION> 8PM
            <OPTION SELECTED> 9PM
            <OPTION> 10PM
            <OPTION> 11PM
          </select>
        </div>
        <div class="options" id="people_option" class="col-md-2">
          <b>Ppl</b><br>
          <select class="dropdown" id="people" name="people">
            <OPTION> for 1
            <OPTION SELECTED>for 2
            <OPTION>for 3
            <OPTION>for 4
            <OPTION>for 5
            <OPTION>for 6
            <OPTION>for 7
            <OPTION>for 8
          </select>
        </div>
      </div>
      </div>
    <br>
  <div class="row">
    <div class="col-md-3">
      <span class="menu"><b>Email: </b></span><input name="email">
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-3">
      <button id="submit-btn">Sign Up</button>
    </div>
  </div>
  <br>
  <span id="confirmation"><b>
  {{confirmation}}
  <br>
  {{table}}
  </b>
  </span>
</div>
</form>

    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    <script src="./static/js/jquery-picklist/jquery.ui.widget.js"></script>
    <script src="./static/js/jquery-picklist/jquery-picklist.js"></script>    
    <script src="./static/js/script.js"></script>
{% endblock %}