{% extends "base.html" %}
{% block content %}

<h1>FindTable<h1>
	<div><p>find your table faster!</p></div>
<form action="" method="post">
<SELECT id="rtype" name="rtype">
	<option selected ="true" disabled="true">cuisine</option>
	<option id="All"> All</option>
	<option id="American">American</option>
	<option id="French">French</option>
	<option id="Italian">Italian</option>	
	</SELECT>

	<br>
	<div id="rlist" name="rlist">
	</div>
	<SELECT name="time">
	<OPTION> 10AM
	<OPTION> 11AM
	<OPTION> 12PM
	<OPTION> 1PM
	<OPTION> 2PM
	<OPTION> 3PM
	<OPTION> 4PM
	<OPTION> 5PM
	<OPTION> 6PM
	<OPTION SELECTED> 7PM
	<OPTION> 8PM
	<OPTION> 9PM
	<OPTION> 10PM
	<OPTION> 11PM	
	</SELECT>
	<SELECT name="people">
	<OPTION> for 1
	<OPTION SELECTED>for 2
	<OPTION>for 3
	<OPTION>for 4
	<OPTION>for 5
	<OPTION>for 6
	<OPTION>for 7
	<OPTION>for 8
	</SELECT>
	<br>
	<br>
	Addtional days to search (0 if only for the date selected)
	<br>
	<SELECT name="num_days">
	<OPTION SELECTED>0 
	<OPTION>1
	<OPTION>2
	<OPTION>3
	<OPTION>4
	<OPTION>5
	<OPTION>6
	<OPTION>7
	
	</SELECT>

	<br>
    <input type="submit" id="search" name="search" value="search">
	<br>
	{% if form %}
		{{form}}
		{% endif %}
</form>
{% endblock %}