{% extends "base.html" %}
{% block content %}
 
<form id = "form-container" class="form-container">
<div class="container">
  <a href="/index">Home</a>
  <div class="row">
    <h1 class="col-md-12 text-center">OpenTable Search</h1>
  </div>

  <div class="row">
    <div class="options">
      Start Date<br>
	  <input type="text" id="start_date" name="start_date">
    </div>
    <div class="options">
      End Date<br>
	  <input type="text" id="end_date" name="end_date">
    </div>
    <div class="options">
      Time<br>
	  <select class="dropdown" id="time">
	  <OPTION> 12PM
	  <OPTION> 1PM
      <OPTION> 2PM
      <OPTION> 3PM
      <OPTION> 4PM
      <OPTION> 5PM
	  <OPTION> 6PM
	  <OPTION SELECTED> 7PM
	  <OPTION> 8PM
	  <OPTION> 9PM
	  <OPTION> 10PM
	  <OPTION> 11PM
	  </select>
    </div>
    <div class="options">
      ppl<br>
	  <select class="dropdown" id="people">
	  <OPTION> for 1
	  <OPTION SELECTED>for 2
	  <OPTION>for 3
	  <OPTION>for 4
	  <OPTION>for 5
	  <OPTION>for 6
	  <OPTION>for 7
	  <OPTION>for 8
	  </select>
    </div>
  </div>
  <br>
  <br>
  <div class="row">
    <select id="restaurants" name="restaurants" multiple="multiple">
        <option selected="selected">Marea</option>
        <option>Per Se</option>
        <option>Le Bernardin</option>
        <option>Eleven Madison Park</option>
        <option>Jean Georges</option>
        <option>Daniel</option>
    </select>
  </div>
  <div class="row">
  <button id="submit-btn">Submit</button>
  </div>
</form>
<ul id="tables">Test</ul>

    
	{{errors}}
	{{test}}
	<br>

	{% if tables %}
	<br>
	{% for table in tables %}
		{{table}}
		<br>
		{% for t in tables[table] %}
		<li>
			<a href="{{ t.split(" ")[-1] }}">{{ t.split(" ")[0][:-5] + " " + t.split(" ")[1]}}</a>
		</li>
		{% endfor %}
		<br>
	{% endfor %}
	{% endif %}

    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    <script src="./static/js/script.js"></script>
    <script src="./static/js/jquery-picklist/jquery.ui.widget.js"></script>
    <script src="./static/js/jquery-picklist/jquery-picklist.js"></script>
{% endblock %}